<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--<variable name="logDirectory" value="${basedir}/logs/${shortdate}" />-->
  <variable name="logDirectory" value="E:\bobgroup\projects\Domiki\Logs\${shortdate}" />
  <targets>
    <target name="system" xsi:type="File" fileName="${logDirectory}/system.log" />
    <target name="custom" xsi:type="File" fileName="${logDirectory}/${logger:shortName=True}.log" />
  </targets>
  <rules>
    <!--<logger name="*" levels="Info,Error,Debug,Warn,Trace,Fail" writeTo="console" />-->
    <!--<logger name="*" levels="Info,Error" writeTo="console" />-->
    <logger name="Domiki.*" writeTo="custom" final="true" />
    <logger name="*" levels="Info,Debug,Error" writeTo="system" />
    <!-- <logger name="*" levels="Error" writeTo="email" /> -->
  </rules>
</nlog>