@{
    ViewData["Title"] = "Privacy Policy";
}
@model SimpleSiteMvc.Models.Workers.PrivaceModel
@{
    var person = Model;
}
<h1>@ViewData["Title"]</h1>

Приватность наше всё

<br />
<label>Здравствуй @person.Name</label>
<br />
<label>Тебе правда @person.Age лет?</label>