@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    Дорова
    @{
        var max = 10;
        for (var i = 0; i < max; i++)
        {
            <label> тест @i</label>
        }
    }
</div>
